


#nav{

	background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    margin-bottom: 0px;
   	border-color: transparent; !important;
    border-radius: 0px;

}
#lorem{
	height: 26em;
}
footer{
	background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    height: 8.3em;
}

#pru{
	background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

ul{
	float: none !important;
}

a{
	color: #fff !important;
}

li{
	margin-left: 0.5em;
}

#sec{
	margin-top: 0px !important;
}